Repository googlesky/1devops.io, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, html, configuration

Refactor homepage with professional DevOps design
  _sass/pages.scss
  assets/css/dropdown.css
  assets/js/main.js
  index.md
Labels: documentation

Fix deploy workflow for Jekyll site
  .github/workflows/deploy.yml
Labels: ci/cd

Convert to static HTML site with DevOps design
  .github/workflows/deploy.yml
  _sass/pages.scss
  index.html
  index.md
Labels: documentation, ci/cd, html

Add compiled CSS for static site
  assets/css/main.css
Labels: none

Fix broken links and restore missing assets
  .well-known/security.txt
  assets/LePhuongHieu - Resume.pdf
  assets/images/apple-touch-icon.png
  assets/images/favicon.ico
  assets/images/favicon.png
  assets/images/logo.png
  assets/images/logo.svg
  assets/images/social-card.png
  index.html
  site.webmanifest
Labels: html

Update resume link to Google Docs
  index.html
Labels: html

Fix CSS contrast issues for newsletter and footer elements
  assets/css/main.css
Labels: none

Fix hero stats bar contrast - white text on dark background
  assets/css/main.css
Labels: none

Force hero stats bar styles with !important
  assets/css/main.css
Labels: none

Fix hero stats bar with inline styles
  index.html
Labels: html

Redesign hero stats bar - clean dark gradient with cyan numbers
  index.html
Labels: html

Fix hero stats bar with inline style block
  index.html
Labels: html

Fix hero stats bar - disable JS that was destroying styles
  assets/js/main.js
Labels: none

Redesign hero stats bar with gradient styling and update numbers
  index.html
Labels: html

Fix hero stats gradient to apply to + and % symbols
  index.html
Labels: html

Fix hero stats - use solid blue color for consistent styling
  index.html
Labels: html

Remove conflicting hero stats styles from main.css
  assets/css/main.css
Labels: none

Add profile photo and update resume info
  assets/images/profile.jpg
  index.html
Labels: html

Adjust profile photo to center on face and crop background
  index.html
Labels: html

Restore code window in hero section
  index.html
Labels: html

Add watercolor profile art above hero title
  index.html
Labels: html

Redesign hero: profile art replaces code window
  index.html
Labels: html

Add 3D card flip effect for profile art
  index.html
Labels: html

3D card follows mouse cursor (parallax effect)
  index.html
Labels: html

Fix Portfolio section colors
  index.html
Labels: html

Add more floating tech icons based on resume skills
  index.html
Labels: html

Update Calendly and LinkedIn links
  index.html
Labels: html

Update GitHub link to https://github.com/googlesky
  index.html
Labels: html

Update email to hieulp@1devops.io
  index.html
Labels: html

Fix gradient text clipping on hero title
  index.html
Labels: html

Fix gradient text clipping - more comprehensive fix
  index.html
Labels: html

Fix gradient text - use box-decoration-break and background-size
  index.html
Labels: html

Disable non-essential workflows, keep only GH Pages deploy
  .github/workflows/ci.yml.disabled
  .github/workflows/dependency-update.yml.disabled
  .github/workflows/maintenance.yml.disabled
  .github/workflows/performance-monitoring.yml.disabled
  .github/workflows/pr-automation.yml.disabled
  .github/workflows/security.yml.disabled
Labels: ci/cd

Complete UI/UX overhaul - unified dark theme & consistent design
  index.html
Labels: html

Fix text colors - ensure all text is visible on dark background
  index.html
Labels: html

Fix all text visibility issues across the site
  index.html
Labels: html

Enhance profile card CSS - glowing border effect
  index.html
Labels: html

Complete light theme conversion with watercolor profile image
  index.html
Labels: html

Migrate to Next.js 15 with premium dark theme redesign
  .github/workflows/deploy.yml
  .gitignore
  .htmlvalidate.json
  .lighthouserc.json
  README.md
  assets/LePhuongHieu - Resume.pdf
  eslint.config.mjs
  index.html
  next.config.ts
  package-lock.json
  package.json
  public/.nojekyll
  public/.well-known/security.txt
  public/CNAME
  public/assets/css/dropdown.css
  public/assets/css/main.css
  public/assets/images/apple-touch-icon.png
  public/assets/images/favicon.ico
  public/assets/images/favicon.png
  public/assets/images/logo.png
  public/assets/images/logo.svg
  public/assets/images/profile.jpg
  public/assets/images/social-card.png
  public/assets/js/main.js
  public/site.webmanifest
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/CTA.tsx
  src/components/FloatingIcons.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Hero.tsx
  src/components/Portfolio.tsx
  src/components/Process.tsx
  src/components/Services.tsx
  src/components/TechStack.tsx
  src/components/Testimonials.tsx
  src/components/index.ts
  tsconfig.json
Labels: documentation, ci/cd, html, configuration

Upgrade to Next.js 16 LTS
  package-lock.json
  package.json
  tsconfig.json
Labels: configuration

.github/labeler.yml:

# Configuration for actions/labeler

documentation:
  - '**/*.md'
  - 'README.md'

ci/cd:
  - '.github/workflows/**'
  - '.github/**'

html:
  - '**/*.html'
  - 'index.html'

configuration:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.gitignore'
  - 'CNAME'
