Repository googlesky/1devops.io, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, html, configuration

.github/labeler.yml:

# Configuration for actions/labeler

documentation:
  - '**/*.md'
  - 'README.md'

ci/cd:
  - '.github/workflows/**'
  - '.github/**'

html:
  - '**/*.html'
  - 'index.html'

configuration:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.gitignore'
  - 'CNAME'

Add scroll-spy navigation highlighting
  src/app/globals.css
  src/components/Header.tsx
Labels: none

Maximize SEO score with comprehensive optimizations
  public/robots.txt
  public/site.webmanifest
  public/sitemap.xml
  src/app/layout.tsx
Labels: none

Refine design: reduce AI-typical patterns, enhance glassmorphism
  src/app/globals.css
Labels: none

Redesign homepage with "Living Topology" generative design
  .gitignore
  src/app/globals.css
  src/app/layout.tsx
  src/components/CTA.tsx
  src/components/FloatingIcons.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Hero.tsx
  src/components/LivingTopology.tsx
  src/components/Portfolio.tsx
  src/components/Process.tsx
  src/components/Services.tsx
  src/components/TechStack.tsx
  src/components/Testimonials.tsx
  src/components/index.ts
  src/components/useReveal.ts
Labels: configuration

ci: run Pages deploy on Node 24 with node24-native actions
  .github/workflows/deploy.yml
Labels: ci/cd
